In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [38]:
categorical_cols = []
for i in range(len(houses.dtypes)):
    if houses.dtypes[i] == 'object':
        categorical_cols.append(houses.columns[i])

In [45]:
numerical_cols = []
for i in range(len(houses.dtypes)):
    if houses.dtypes[i] == 'int64' or houses.dtypes[i] == 'float64':
        numerical_cols.append(houses.columns[i])

In [49]:
numerical_df = houses[numerical_cols]

In [50]:
dummified_df = pd.get_dummies(houses[categorical_cols], drop_first=True)

In [53]:
merged_df = pd.concat([numerical_df, dummified_df], axis=1)
merged_df.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,533352170,60,NaN,13517,6,8,1976,2005,289.0,...,0,0,0,0,0,0,0,0,0,1
1,544,531379050,60,43.0,11492,7,5,1996,1997,132.0,...,0,0,0,0,0,0,0,0,0,1
2,153,535304180,20,68.0,7922,5,7,1953,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
3,318,916386060,60,73.0,9802,5,5,2006,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
4,255,906425045,50,82.0,14235,6,8,1900,1993,0.0,...,0,0,0,0,0,0,0,0,0,1

In [2]:
houses = pd.read_csv('../data/train.csv')

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
X = ...
y = ...

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

In [ ]:
new_ridge = Ridge()

In [ ]:
cross_val_score(new_ridge, X_train, y_train)

In [3]:
houses.shape

(2051, 81)

In [4]:
houses.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
houses.dtypes

Id                  int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
                   ...
Half Bath           int64
Bedroom AbvGr       int64
Kitchen AbvGr       int64
Kitchen Qual       object
TotRms AbvGrd       int64
Functional         object
Fireplaces          int64
Fireplace Qu       object
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Cars       float64
Garage Area       float64
Garage Qual        object
Garage Cond        object
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Enclosed Porch      int64
3Ssn Porch          int64
Screen Porch        int64
Pool Area           int64
Pool QC            object
Fence              object
Misc Feature       object
Misc Val            int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
SalePrice           int64
Length: 81, dtype: object

In [12]:
temp = houses.dtypes

In [19]:
pd.get_dummies(houses)

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Misc Feature_TenC,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,533352170,60,NaN,13517,6,8,1976,2005,289.0,...,0,0,0,0,0,0,0,0,0,1
1,544,531379050,60,43.0,11492,7,5,1996,1997,132.0,...,0,0,0,0,0,0,0,0,0,1
2,153,535304180,20,68.0,7922,5,7,1953,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
3,318,916386060,60,73.0,9802,5,5,2006,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
4,255,906425045,50,82.0,14235,6,8,1900,1993,0.0,...,0,0,0,0,0,0,0,0,0,1
5,138,535126040,20,137.0,16492,6,6,1966,2002,0.0,...,0,0,0,0,0,0,0,0,0,1
6,2827,908186070,180,35.0,3675,6,5,2005,2006,82.0,...,0,0,0,0,0,0,0,1,0,0
7,145,535154050,20,NaN,12160,5,5,1959,1959,180.0,...,0,1,0,0,0,0,0,0,0,0
8,1942,535353130,20,NaN,15783,5,5,1952,1952,0.0,...,0,0,0,0,0,0,0,0,0,1
9,1956,535426130,60,70.0,11606,5,5,1969,1969,192.0,...,0,0,0,0,0,0,0,0,0,1
10,1044,527451290,160,21.0,1680,6,5,1971,1971,232.0,...,0,1,0,0,0,0,0,0,0,0
11,2752,906380150,20,64.0,7488,7,5,2005,2005,0.0,...,0,0,0,0,0,0,0,0,0,1
12,807,906226060,70,120.0,26400,5,7,1880,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
13,1177,533236070,160,24.0,2645,8,5,1999,2000,456.0,...,0,0,0,0,1,0,0,0,0,0
14,1480,907418040,20,74.0,9627,7,5,2007,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
15,324,923202105,20,93.0,10114,5,5,2004,2005,0.0,...,0,0,0,0,0,0,0,0,0,1
16,1311,902301140,70,34.0,4571,5,5,1916,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
17,770,905101490,20,80.0,8816,5,6,1963,1963,0.0,...,0,0,0,0,0,0,0,0,0,1
18,2063,905107140,20,71.0,8197,6,5,1977,1977,148.0,...,0,0,0,0,0,0,0,0,0,1
19,69,528458070,60,72.0,8640,7,5,2009,2009,0.0,...,0,0,0,1,0,0,0,0,0,0
20,2062,905106150,20,109.0,8724,5,5,1968,1968,0.0,...,0,0,0,0,0,0,0,0,0,1
21,351,527131030,120,40.0,5664,8,5,2000,2000,0.0,...,0,0,0,0,0,0,0,0,0,1
22,2393,528142010,60,103.0,12867,8,5,2005,2006,NaN,...,0,0,0,0,0,0,0,1,0,0
23,12,527165230,20,NaN,7980,6,7,1992,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
24,2339,527250040,190,100.0,34650,5,5,1955,1955,0.0,...,0,0,0,0,0,0,0,0,0,1
25,624,535104120,20,92.0,10573,6,6,1961,1961,3.0,...,0,0,0,0,0,0,0,0,0,1
26,86,532376160,20,65.0,8450,5,8,1965,2009,0.0,...,0,0,0,0,0,0,0,0,0,1
27,1534,909277040,50,NaN,11700,5,6,1937,1995,0.0,...,0,0,0,0,0,0,0,0,0,1
28,2243,911103060,190,75.0,8250,5,6,1895,2006,0.0,...,0,0,0,0,0,0,0,0,0,1
29,1957,535450190,50,60.0,8064,5,7,1949,2006,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,2810,907410100,60,70.0,8400,7,5,2005,2005,0.0,...,0,0,0,0,0,0,0,0,0,1
2022,2872,909475020,20,NaN,16381,6,5,1969,1969,312.0,...,0,0,0,0,0,0,0,0,0,1
2023,1072,528181010,120,135.0,12304,7,5,2005,2005,144.0,...,0,0,0,0,0,0,0,0,0,1
2024,1654,527353080,60,80.0,11584,7,6,1979,1979,96.0,...,0,0,0,0,0,0,0,0,0,1
2025,2394,528142060,60,82.0,10672,8,5,2006,2006,0.0,...,0,0,0,0,0,0,0,1,0,0
2026,2212,909275110,70,60.0,7230,7,7,1927,1992,0.0,...,0,0,0,0,0,0,0,0,0,1
2027,2628,535456010,90,75.0,8512,5,5,1960,1960,0.0,...,0,0,0,0,0,0,0,0,0,1
2028,2526,534127190,20,NaN,20781,7,7,1968,2003,0.0,...,0,0,0,0,0,0,0,0,0,1
2029,969,921128050,20,85.0,12633,9,5,2007,2007,290.0,...,0,0,0,0,0,0,0,0,0,1
2030,306,911202100,50,66.0,8712,4,7,1900,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
2031,25,527402250,20,NaN,12537,5,6,1971,2008,0.0,...,0,0,0,0,0,0,0,0,0,1
2032,311,914475090,80,74.0,9620,6,7,1977,1977,0.0,...,0,0,0,0,0,0,0,0,0,1
2033,300,909455040,120,35.0,3907,8,5,1989,1989,0.0,...,0,0,0,0,0,0,0,0,0,1
2034,2775,907175060,20,79.0,9236,6,5,1997,1997,0.0,...,0,0,0,0,0,0,0,0,0,1
2035,2862,909279040,30,80.0,11600,4,5,1922,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
2036,525,528477070,60,84.0,10603,8,5,2006,2006,121.0,...,0,0,0,0,0,0,0,0,0,1
2037,2730,905300080,20,100.0,13350,5,5,1974,1974,0.0,...,0,0,0,0,0,0,0,0,0,1
2038,1892,534401200,80,80.0,9200,6,5,1965,1965,98.0,...,0,0,0,0,0,0,0,0,0,1
2039,2288,923228220,160,21.0,1495,4,6,1970,1970,189.0,...,0,0,0,0,0,0,0,0,0,1
2040,2728,905225080,50,81.0,15593,7,4,1953,1953,0.0,...,0,0,0,0,0,0,0,0,0,1
2041,1065,528166120,60,110.0,13688,9,5,2003,2004,664.0,...,0,0,0,0,0,0,0,0,0,1
2042,2842,909101080,50,45.0,8248,4,4,1922,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
2043,2011,903227140,70,50.0,6000,6,6,1939,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
2044,1140,531382090,60,65.0,8453,6,5,1995,1995,38.0,...,0,0,0,0,0,0,0,0,0,1
2045,1051,528102030,20,96.0,12444,8,5,2008,2008,426.0,...,0,0,0,0,0,0,0,1,0,0
2046,1587,921126030,20,79.0,11449,8,5,2007,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
2047,785,905377130,30,NaN,12342,4,5,1940,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
2048,916,909253010,50,57.0,7558,6,6,1928,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
2049,639,535179160,20,80.0,10400,4,5,1956,1956,0.0,...,0,0,0,0,0,0,0,0,0,1
2050,10,527162130,60,60.0,7500,7,5,1999,1999,0.0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
houses.dtypes

Id                  int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
                   ...
Half Bath           int64
Bedroom AbvGr       int64
Kitchen AbvGr       int64
Kitchen Qual       object
TotRms AbvGrd       int64
Functional         object
Fireplaces          int64
Fireplace Qu       object
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Cars       float64
Garage Area       float64
Garage Qual        object
Garage Cond        object
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Enclosed Porch      int64
3Ssn Porch          int64
Screen Porch        int64
Pool Area           int64
Pool QC            object
Fence              object
Misc Feature       object
Misc Val            int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
SalePrice           int64
Length: 81, dtype: object

In [33]:
houses.dtypes[0]

dtype('int64')

In [34]:
houses.columns[0]

'Id'

### Make my own Holdout Set I can score later

In [270]:
houses_holdout = houses.loc[1501:,:]
houses = houses.loc[0:1500,:]

In [271]:
print(houses.shape)
print(houses_holdout.shape)

(1501, 81)
(550, 81)

### Set up features, X and y

In [272]:
features = ['Lot Area', 'Bedroom AbvGr']

X = houses[features]
y = houses['SalePrice']

### Continue down two paths, concurrently:
- The 1st path: `.fit_transform(X)`, then test-train-split
- The 2nd path: Test-train-split, then `.fit_transform(X_train)` and `.transform(X_test)`

In [273]:
ss_pre = StandardScaler()
X_prescaled = ss_pre.fit_transform(X)

In [274]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train_prescaled, X_test_prescaled, y_train_prescaled, y_test_prescaled = train_test_split(X_prescaled, y)

In [275]:
ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.fit(X_test)

### Instantiate all modeling objects, and check cross_val_score

In [276]:
linreg = LinearRegression()
ridge = Ridge()
lasso = Lasso()

linreg_prescaled = LinearRegression()
ridge_prescaled = Ridge()
lasso_prescaled = Lasso()

In [277]:
linreg_scores = cross_val_score(linreg, X_train_scaled, y_train)
ridge_scores = cross_val_score(ridge, X_train_scaled, y_train)
lasso_scores = cross_val_score(lasso , X_train_scaled, y_train)

linreg_pre_scores = cross_val_score(linreg_prescaled, X_train_prescaled, y_train_prescaled)
ridge_pre_scores = cross_val_score(ridge_prescaled, X_train_prescaled, y_train_prescaled)
lasso_pre_scores = cross_val_score(lasso_prescaled, X_train_prescaled, y_train_prescaled)

In [278]:
print(np.mean(linreg_scores))
print(np.mean(ridge_scores))
print(np.mean(lasso_scores))
print()
print(np.mean(linreg_pre_scores))
print(np.mean(ridge_pre_scores))
print(np.mean(lasso_pre_scores))

-0.17962461606305932
-0.17701348809780118
-0.17959367323897957

-0.007734935119017498
-0.007141166606165594
-0.007725228963223289

- The "pre-scaled" appears to score better at the cross-val stage. But will this hold true on "unseen" data?

### Score all models against "unseen" data, (my Holdout set)

In [279]:
X_holdout = houses_holdout[features]

# My post-split scaler
X_holdout_scaled = ss.transform(X_holdout)
# My pre-split scaler
X_holdout_prescaled = ss_pre.transform(X_holdout)

y_holdout = houses_holdout['SalePrice']

In [280]:
linreg.fit(X_train_scaled, y_train)
ridge.fit(X_train_scaled, y_train)
lasso.fit(X_train_scaled, y_train)

linreg_prescaled.fit(X_train_prescaled, y_train_prescaled)
ridge_prescaled.fit(X_train_prescaled, y_train_prescaled)
lasso_prescaled.fit(X_train_prescaled, y_train_prescaled)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [281]:
print(linreg.score(X_holdout_scaled, y_holdout))
print(ridge.score(X_holdout_scaled, y_holdout))
print(lasso.score(X_holdout_scaled, y_holdout))

print(linreg_prescaled.score(X_holdout_prescaled, y_holdout))
print(ridge_prescaled.score(X_holdout_prescaled, y_holdout))
print(lasso_prescaled.score(X_holdout_prescaled, y_holdout))

0.1582880362308121
0.1582351808778789
0.15828360164354527
0.13528700380933756
0.1352202210694481
0.13528102284618382

### Looks like my pre-scaled data generalized better! Run all the cells from the top again to see new values (because train-test-split will be random) until you're convinced